.main-container-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin: 25px 0px 50px 0px;
}

.florish-menu{
  display: none;
  width: 200px;
  padding-right: 10px;
}

.Button,
.activeButton {
  font-size: 27px;
  font-family: 'Alice', Courier;
  background-color: #00000000;
  color: #aaaaaa;
  font-weight: lighter;
  cursor: pointer;
  border: none;
  text-decoration: none;
  position: relative;
  padding-bottom: 7px;
  letter-spacing: 2px;
}

.Button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: orangered;
  transition: width 0.25s ease-out;
}

.Button:hover::after {
  width: 100%;
}

.activeButton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: orangered;
}

.activeButton {
  text-underline-offset: 25%;
  color: #fffefe;
}

.icon-menu{
  color: #fffefe;
  display: none;
  right: 12vw;
  position: absolute;
  margin-top: 20px;
}

.icon-cancel-container { 
  right: 7vw;
  position: absolute; 
}

.icon-cancel{
  size: 15px;
  color: #fffefe;
  display: none;
}

@media (max-width: 1050px) {
  .buttons-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: fixed;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
      margin-top: 0px;
      height: 330px;
      justify-content: space-evenly;
      align-items: center;
      top: 180px;
      gap: 0px;   
  }

  .buttons-container.active {
    background: #000000;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    margin-top: 0px;
    height: 330px;
    padding: 0px;
  }

.Button,
.activeButton {
  background-color: #00000000;
  color: #fffefe; 
  letter-spacing: 13px;
  font-size: 20px;
}

.activeButton::after {
  width: 92%;
}

.icon-cancel{
  display: block;
}

.icon-menu {
  display:block ;
}

.florish-menu{
  display: block
}

}

  


