.mainDiv {
  position: relative;
}

.cuadradoArriba {
  background-image:url("images/Frame\ 27.png");
  background-size: cover;
  height: 97vh;;
  background-color: darkred;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.cuadradoAbajo {
  height: 1000px;
  background-color: #070705;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: 0px -10px 5px rgba(15, 15, 15, 0.774);
}

@media (max-width: 520px) {
  .cuadradoArriba {
    
    height: auto;;
    
  }
}   


