.mainDiv {
  position: relative;
}

.topContent {
  background-image: url("images/Frame\ 27.jpg");
  background-size: cover;
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.bottomContent {
  background-color: #070705;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: 0px -10px 5px rgba(15, 15, 15, 0.774);
  padding-bottom: 70px;
}

@media (max-width: 520px) {
  .topContent {
    height: auto;
  }
}
