.buttonsAndContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerButtons {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin: 70px 0px;
}

.containerButtons button {
    font-size: 27px;
    background-color: #00000000;
    color: #AAAAAA;
    font-weight: 100;
    cursor: pointer;
    border: none;
}

@media (max-width: 1050px) {
    .containerButtons {
        margin: 45px 0px;
    }
}

@media (max-width: 540px) {
    .containerButtons {
        
        gap: 25px;
        
    }
}  

@media (max-width: 450px) {
    .containerButtons {
        margin: 20px 0px;
    }
}    
