.buttonsAndContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin: 70px 0px;
}

.containerButtons,
.activeButton {
  font-size: 27px;
  background-color: #00000000;
  color: #aaaaaa;
  font-weight: 100;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.containerButtons:hover {
  text-decoration: underline rgba(169, 169, 169, 0.349) 20%;
  text-underline-offset: 25%;
}

.activeButton {
  text-decoration: underline orangered 20%;
  text-underline-offset: 25%;
}

@media (max-width: 1050px) {
  .container {
    margin: 45px 0px;
  }
}

@media (max-width: 540px) {
  .container {
    gap: 25px;
  }
}

@media (max-width: 450px) {
  .container {
    margin: 20px 0px;
  }
}
