.main_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

.imageContainer {
       
    box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.896);
}  

.imageFlyer {
    height: 94vh;
}

@media (max-width: 520px) {
    .imageFlyer {
        width: 94vw;
        height: auto;
    }
}   

